state/tsbt.db
state/subdomains/todo/*
state/subdomains/done/*
state/nmap/done/*
state/nmap/todo/*
state/subdomains-resolve/done/*
state/subdomans-resolve/todo/*
state/eyewitness/done/*
state/eyewitness/todo/*
deploy.sh
other-tools/
domains.txt
that-shouldnt-be-there
state/config.json
state/subdomains/lastCompleted